<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>

<body>
    <img src="/static/images/bg.jpg" class="backgroundImage">
    <img src="https://sathyabama.cognibot.in/pluginfile.php/1/theme_klass/logo/1636949046/logo.svg" class="mx-auto" style="filter: invert(100%)" width="350px" />
    <br/>
    <br/>
    <div class="flex">
        <div class="mx-auto">
            <button onclick='window.location.href="/dashboard/users/new"' class="my-1 
            bg-green-500 hover:bg-green-600 mx-auto
            active:bg-green-700 focus:outline-none 
            focus:ring focus:ring-green-300 
            rounded  px-5 py-1 text-lg font-bold text-white mr-5">Add New User</button>
            <button onclick='window.location.href="/dashboard/users"' class="my-1 
            bg-green-500 hover:bg-green-600 mx-auto
            active:bg-green-700 focus:outline-none 
            focus:ring focus:ring-green-300 
            rounded  px-5 py-1 text-lg font-bold text-white">View all Users</button>
            <button onclick='window.location.href="/logout"' class="my-1 
            bg-red-500 hover:bg-red-600 mx-auto
            active:bg-red-700 focus:outline-none 
            focus:ring focus:ring-red-300 
            rounded  px-5 py-1 text-lg font-bold text-white mr-5">Logout</button>
        </div>
    </div>
    <br/>
    <br/>
    <p class="text-2xl font-bold text-center underline underline-offset-4">Registered Students Details</p>
    <p class="text-lg font-bold text-center text-red-500 font-bold mt-3" id="message"></p>
    <br/>
    <table class="table-auto mx-auto border-collapse border border-slate-400">
        <thead>
            <tr>
                <th class="border border-slate-300 px-2 py-1">ID</th>
                <th class="border border-slate-300 px-2 py-1">Name</th>
                <th class="border border-slate-300 px-2 py-1">Email</th>
                <th class="border border-slate-300 px-2 py-1">Phone Number</th>
                <th class="border border-slate-300 px-2 py-1">Time</th>
                <th class="border border-slate-300 px-2 py-1">Remark</th>
                <th class="border border-slate-300 px-2 py-1">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr id="trid{{data.id}}">
                <td class="border border-slate-300 px-2 py-1">{{ data.id }}</td>
                <td class="border border-slate-300 px-2 py-1">{{ data.name }}</td>
                <td class="border border-slate-300 px-2 py-1">{{ data.email }}</td>
                <td class="border border-slate-300 px-2 py-1">{{ data.phone }}</td>
                <td class="border border-slate-300 px-2 py-1">{{ (data.date).strftime("%d-%m-%Y %H:%M:%S") }}</td>
                <td class="border border-slate-300 px-2 py-1">
                    <textarea id="remark{{data.id}}">{{data.remark}}</textarea><br>
                    <button onclick='saveRemark({{data.id}})' class="my-1 
                        bg-green-500 hover:bg-green-600 
                        active:bg-green-700 focus:outline-none 
                        focus:ring focus:ring-green-300 
                        rounded  px-5 py-1 text-lg font-bold text-white">Save Report</button>
                </td>
                <td class="border border-slate-300 px-2 py-1">
                    <button onclick=' deleteRegistration({{data.id}})' class="my-1 
                    bg-red-500 hover:bg-red-600 
                    active:bg-red-700 focus:outline-none 
                    focus:ring focus:ring-red-300 
                    rounded  px-5 py-1 text-lg font-bold text-white">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

<script>
    function deleteRegistration(id) {
        fetch("/dashboard/entry/delete/" + id, {
            method: 'POST'
        }).then(response => response.json()).then(res => {
            document.getElementById("message").innerText = res.message;
            if (res.type == "error") {
                document.getElementById("message").style.color = "red";
            } else {
                document.getElementById("message").style.color = "green";
                document.getElementById("trid" + id).remove();
            }
        })
    }

    function saveRemark(id) {
        fetch("/dashboard/entry/modify/report/" + id, {
            method: 'POST',
            body: document.getElementById("remark" + id).innerText
        }).then(response => response.json()).then(res => {
            document.getElementById("message").innerText = res.message;
            if (res.type == "error") {
                document.getElementById("message").style.color = "red";
            } else {
                document.getElementById("message").style.color = "green";
            }
        })
    }
</script>

</html>