<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/styles/main.css">
    <title>Error</title>
</head>

<body>
    <img src="/static/images/bg.jpg" class="backgroundImage">
    <img src="/static/images/img1.jpg" height="100vh" width="100%" style="position: fixed;
        z-index: -1;
        opacity: 0.20;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;" alt="image1">
    <div class="flex justify-center my-10 mt-36 align-middle">
        <img src="/static/images/cross.png" alt="checkmark" width="200px">
    </div>
    <div class="flex justify-center my-10">
        <p class="font-bold text-red-500 text-2xl">{{message}}</p>
    </div>
    <div class="flex justify-center my-10">
        <p class="font-bold text-slate-900 text-center mx-3 text-md md:text-xl">You will be redirected to home after 30 seconds</p>
    </div>
    <div class="flex justify-center my-10">
        <button class="mt-2 bg-red-500 hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-300 rounded mx-auto px-2 py-2 text-lg font-bold text-white" onclick="window.location.href='/'">Back to Home</button>
    </div>
    <script> 
        setTimeout("window.location.href='/'",30000) 
    </script>
</body>

</html>