:root {
    --border-radius: 6px;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #3b82f6 #c8f2fe;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #fde9fb;
}

*::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 10px;
    border: 3px solid #3b82f6;
}


/* ======= End of Scrollbar CSS ======= */

.backgroundImage {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .3;
}

input {
    background-color: rgba(255, 255, 255, .3) !important;
    color: black !important;
}

input::placeholder {
    color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

li {
    list-style-image: url('/static/images/greenTick.png');
    list-style-position: inside;
}

.glassbg {
    background-color: rgba(255, 255, 255, .4) !important;
}

.dot {
    cursor: pointer;
}