:root {
    --border-radius: 6px;
}


/* ScrollBar */

body::-webkit-scrollbar {
    width: 10px;
    border-left: 1px ridge #DDD;
}

body::-webkit-scrollbar-track {
    background: #EEE;
}

body::-webkit-scrollbar-thumb {
    background: #831238;
}

body::-webkit-scrollbar-thumb:hover {
    background: #831238;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #831238 #ffffff;
}


/* ScrollBar Ends */

.backgroundImage {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .3;
}

input {
    background-color: rgba(255, 255, 255, .3) !important;
    color: black !important;
}

input::placeholder {
    color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

li {
    list-style-image: url('/static/images/greenTick.png');
    list-style-position: inside;
}

.glassbg {
    background-color: rgba(255, 255, 255, .4) !important;
}

.dot {
    cursor: pointer;
}