:root {
    --border-radius: 6px;
}

.backgroundImage {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .3;
}

input {
    background-color: rgba(255, 255, 255, .3) !important;
    color: black !important;
}

input::placeholder {
    color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

li {
    list-style-image: url('/static/images/greenTick.png');
    list-style-position: inside;
}

.glassbg {
    background-color:rgba(255, 255, 255, .4) !important;
}